# Django Secret Key (generate a strong random secret key for production)
SECRET_KEY=django-insecure-vZ5dsSnKGxRfMJltnxLNlcwy3tc7QVEQ6gbJJzV2WlM

# Debug Mode (set to False in production)
DEBUG=False

# Database Configuration (MySQL)
DB_NAME=mabdrug_db
DB_USER=root
DB_PASSWORD=12345
DB_HOST=localhost
DB_PORT=3306
